<form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
  <div class="field">
    <div class="control">
      <input
        #input
        class="input"
        type="text"
        placeholder=" {{ placeholder }} "
        [(ngModel)]="mainInput"
        name="mainInput"
        required
      />
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-primary is-light">
        <span>{{ btnText }}</span>
        <span class="icon is-small is-left">
          <i #icon></i>
        </span>
      </button>
    </div>
  </div>
</form>
