<div class="board">
  <div class="board-bar columns">
    <p class="board-name column is-four-fifths">{{ board.name }}</p>
    <div class="column">
      <button class="button is-primary is-light" (click)="onAddColumn()">
        <span>Columns</span>
        <span class="icon is-small is-left">
          <i data-feather="plus"></i>
        </span>
      </button>
    </div>
  </div>

  <div class="board-wrapper">
    <div class="scrollBar" (scroll)="onScroll(false)">
      <div #scrollDiv></div>
    </div>
    <div
      #columns
      class="board-columns"
      cdkDropListGroup
      (scroll)="onScroll(true)"
    >
      <app-column
        *ngFor="let column of board.columns; index as i"
        class="board-column"
        [columnIndex]="i"
        [boardId]="board.id"
        [column]="column"
        @colAnim
      >
      </app-column>
    </div>
  </div>
</div>
