<div class="board">
  <div class="board-bar columns">
    <p class="board-name column is-four-fifths">{{ board.name }}</p>
    <div class="column">
      <button class="button is-primary is-light" (click)="onAddColumn()">
        <span>Columns</span>
        <span class="icon is-small is-left">
          <i data-feather="plus"></i>
        </span>
      </button>
    </div>
  </div>

  <div class="board-wrapper">
    <div class="scrollBar" (scroll)="onScroll(false)">
      <div #scrollDiv></div>
    </div>
    <div
      #columns
      class="board-columns"
      cdkDropListGroup
      (scroll)="onScroll(true)"
    >
      <div
        *ngFor="let column of board.columns; index as i"
        class="board-column"
      >
        <div class="column-title">
          <div *ngIf="!editing" (click)="toggleEditing()">
            <span> {{ column.title }}</span>
            <span class="icon is-small is-left has-text-grey-light">
              <i data-feather="edit-2"></i>
            </span>
          </div>
          <app-simple-form
            *ngIf="editing"
            btnText="Edit"
            [initialVal]="column.title"
            (submit)="onEditColTitle($event, i)"
          ></app-simple-form>
        </div>
        <div
          class="tasks"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)"
          [@listAnim]
        >
          <app-simple-form
            (submit)="onAddTask($event, i)"
            placeholder="New Task"
            btnText="add"
            btnIcon="plus"
          ></app-simple-form>
          <app-task *ngFor="let item of column.tasks" cdkDrag [task]="item">
          </app-task>
        </div>
      </div>
    </div>
  </div>
</div>
