<form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
  <div class="field">
    <!-- <label class="label">Username</label> -->
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="text"
        placeholder="Add Task"
        [(ngModel)]="task"
        name="task"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
</form>
