<form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
  <div class="field">
    <!-- <label class="label">Username</label> -->
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="New Task"
        [(ngModel)]="task"
        name="task"
        required
      />
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-primary is-light">
        <span>Add</span>
        <span class="icon is-small is-left">
          <i data-feather="plus"></i>
        </span>
      </button>
    </div>
  </div>
</form>
