<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text has-text-primary">Boards</h1>
      </div>
    </div>
  </div>
  <div class="board">
    <div class="board-bar">
      <p class="board-name">{{ board.name }}</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div *ngFor="let column of board.columns" class="board-column">
          <div class="column-title">
            {{ column.title }}
          </div>
          <div
            class="tasks"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="task" *ngFor="let item of column.tasks" cdkDrag>
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
