.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-name {
  font-size: 20px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}
.has-gradient-text {
  background: linear-gradient(#00ffea, #00ec76);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
app-board {
  display: flex;
  flex-direction: column;
  height: 100%;
}
